
body {
  background: #352f5a;
}

.container {
  max-width: 400px;
}

.clock{
  background-color: white;
  padding: .5rem;
  color: #352f5a;
  margin: 1rem;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: rgb(14, 11, 11) 0px 2px 8px 0px;
}
input[type=text],
input[type=text]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.todos li {
  background: #423a6f;
}

.delete {
  cursor: pointer;
}

.add-new {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

label {
  text-align: center;
}

.filtered {
  display: none !important;
}
